<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Protocolo</th>
      <th>Data de Envio</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let documento of documentos">
      <td>{{ documento.nome }}</td>
      <td>{{ documento.numeroProtocolo }}</td>
      <td>{{ documento.dataEnvio | date: 'short' }}</td>
      <td>
        <button class="btn btn-primary" (click)="visualizarDocumento(documento.id)">Visualizar</button>
      </td>
    </tr>
  </tbody>
</table>
