<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Numero Protocólo</th>
        <th scope="col">Nome</th>
        <th scope="col">Data da envio</th>
        <th scope="col">Documentação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Abrir Modal
              </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Abrir Modal
              </button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Abrir Modal
              </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Documentação</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Conteúdo da modal.
        </div>
        <div class="modal-footer foter">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aprovar</button>
          <button type="button" class="btn btn-danger">Rejeitar</button>
        </div>
      </div>
    </div>
  </div>