
<app-search-bar></app-search-bar>

<div>

<h3 class="mtop mleft">Solicitaçãoes Pendentes</h3>

<table class="table table-striped mt-2">
    <thead>
      <tr>
        <th scope="col">Numero Protocólo</th>
        <th scope="col">Nome</th>
        <th scope="col">Data da envio</th>
        <th scope="col">Documentação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
            <a type="button" href="documento-solicitantes" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Abrir Modal
              </a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Abrir Modal
              </button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Abrir Modal
              </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>