.foter {
    background-color: #0235BA;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    align-items: center;
}

p{
    color: #FFFFFF;
    margin-left: 42px;
}
