h1{
    margin-top: 20px;
    color: #000000;
    font-size: 45px;
}

.imagem {
    width: 729px;
    height: 420px;
}


.titulo{
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.subtitulo{
    color: #696666;
}

.botao{
    width: 192px;
    height: 48px;
    margin-top: 50px;
}

.home-page {
    margin-top: 50px;
}