.opcao{
    font-size: 25px;
    color: white;
}

nav{
    background-color: #0135BA;
}

.botao{
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
}

.logo_header{
    width: 55px;
    height: 70px;
    margin-left: 15px;
    position: absolute;
}

.entrar{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.user {
  width: 8%;
  text-align: center;
  display: flex;
  justify-content: center;
}
